<footer class="footer">
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="footer__nav-item"><a class="footer__nav-link" href="https://github.com/jmarcolan" target="_blank"><i class="fab fa-github" alt="github-logo"></i></a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="https://discord.gg/cd6j7f" target="_blank"><i class="fab fa-discord" alt="discord-logo"></i></a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="https://www.twitch.com/jmarcolan" target="_blank"><i class="fab fa-twitch " alt="twitch-logo"></i></a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="https://www.facebook.com/jmarcolan" target="_blank"><i class="fab fa-facebook-square" alt="facebook-logo"></i></a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#" target="_blank"><i class="fas fa-envelope" alt="twitch-logo"></i></a></li>
      </ul>
    </nav>
  </footer>


<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


         -->

