<title>{{ site.title}}</title>



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Professor Marcolan</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link href="/assets/prism.css" rel="stylesheet" /> -->
  


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/css_maneiro.css">


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <meta name="description" content="{{desc.text}}">

  <meta name="author" content="Diego Freitas">
  

  <!-- <script src="/logica/logica1.js"></script> -->

</head>

<header class="header">
  <div class="header__container">
    <div class="icon-wrapper">
      <div class="icon icon__menu"></div>
    </div>
    <img src="/assets/logo.png" alt="logo" class="header__logo"/>
    <h1 class="header__title">Professor Marcolan</h1>
    <nav class="nav">
      <ul class="nav__list">
        {% for item in site.data.navegacao %}
          <li class="nav__item">
            <a href="{{ item.link }}" {% if page.url == item.link %} class="nav__link nav__link--current" {% endif %} class="nav__link">
              {{ item.name }}
            </a>
          </li>
        {% endfor %}
        <li class="nav__item"><a href="contribuir.html" class="nav__link nav__link--border">Como contribuir</a></li>
      </ul>
    </nav>
  </div>




</header>





