/* Início header */

.header-bg {
	background-image: url('../figuras/header_bg.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 53.6vh;
}

.header-bg .title {
	padding-top: 80px;
	opacity: 1;
}

/* Fim header */

/* Início footer */

footer {
	height: 250px;
	background: #232323;
	color: #fff;
}

.footer_title {
	text-align: center;
	padding-top: 30px;
	font-size: 16px;
	text-transform: uppercase;
}

.footer_email {
	text-align: center;
	padding-bottom: 10px;
}

.footer_copy {
	text-align: center;
}

.footer_copy--italic {
	font-style: italic;
}

.footer_nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

.footer_logo {
	font-size: 40px;
	margin: 20px 50px 0 0;
	color: #fff;
	transition: all .3s;
	padding-bottom: 10px;
}

.fa-github:hover,
.fa-discord:hover,
.fa-facebook-square:hover {
	transform: translateY(-5px);
}

.fa-github:hover {
	color: #000;
}

.fa-discord:hover {
	color: #8c9eff;
}

.fa-facebook-square:hover {
	color: #3a589b;
}

/* Fim footer */

@media (max-width: 600px) {
	.header-bg {
		display: none;
	}
	.header-bg .title {
	}
}




#twitch-embed {
	margin: 0px 0px 300px  300px; 


}