
 .cartao-inicio{
   padding: 20px;
 }

 .serie{
   padding: 10px 0px 0px 10px;
   /* background: rgb(29, 50, 145); */
   background: hsla(180, 2%, 11%, 0.288) ;
   margin:  10px 10px 10px 10px;
 }

 .break{
   margin: 10px 0px 10px 0px;
   padding:  10px 10px 10px 10px;
   /* background: red; */
 }

 .descricao-serie{
  margin: 10px 0px 10px 0px;

 }

 .col-sm-4{
   padding: 10px 10px 10px 10px;

 }
 .card{
   margin: 0px 5px 0 5px 0px;
   padding: 10px 10px 10px 10px;
   border-radius: 25px;
   background: #00486bff;
 }
.card:hover{
  background:hsl(63, 72%, 59%);;
}

 /* navbar do site */
 .navegador{
  background: hsl(218, 47%, 92%);
  color:hsl(63, 72%, 59%);
  font-size: 20px;
 }
 .text-muted:hover{
 background:hsl(63, 72%, 59%);
 }
 .navegador>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navegador>ul>li {
  float: left;
}

.navegador>ul>li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navegador>ul>li a:hover {
  background-color: #111;
}



/* 
.texto-serie ~ .container{
  background: aquamarine;
  font-size: 20px;
} */



.header{
  padding: 10px 10px 20px 10px;
    color: beige;
    /* background: #343a40; */
    background: rgb(1, 35, 53);
}

/* img-fluid */
/* img{
  width:100%;
  max-width:900px;
  max-height: 200px;
} */
/* .fundo{
  background-image: url("/assets/professor-marcolan-logo.png");
} */

/* .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */


.codigo-path{
  text-align: right;
  background: #00486bff;
 margin: -15px;
 padding: 0px 10px 0px 0px;
 
}


h2{
  font-size: 31px;
  color: beige;
}

p {

  text-align: justify;

}




/* construindo as principais cores do site */
body{
  background: #19191af1 ;
  /* background:  hsl(180, 2%, 11%); */
}
.corpo-texto{
  padding: 10px 10px 10px 10px; 
  background: hsla(180, 2%, 11%, 0.288) ;
  color: rgb(216, 216, 216);
  font-size: 18px;
  font-family: "source sans pro";

}

/* menu */
.card-img-top{
  max-width: 300;
  max-height: 300;

}

.menu{
 padding: 5px 5px 5px 5px;
  background: rgba(37, 36, 36, 0.788);
  display: fixed;
  font-size: 18px;
}

.menu-itens{
 
  display: fixed;
  padding: 10px 10px 10px 10px; 
  /* background: hsl(60, 100%, 75%);  */
  /* background: rgba(246, 255, 166, 0.932); */
  background: #00486bff;
  margin: 10px 10px 10px 10px;

}

.menu-itens > a {
/* color: rgb(0, 0, 0); */


}


.select-item{
  color: hsl(221, 61%, 51%);
  background: #ffff00ff;
  padding: 5px 5px;
  /* color: #fff; */

}


.container{
  max-width: 1300px;
}

/* 
.sticky {
  position: sticky;
  background: red;
  top: 0;
  padding: 10px;
  color: white;
} */

.sticky-offset {
  padding-top: 200px;
}

.video-pop{
  background: #111;
  margin: 20px 60px 20px 100px;

}