@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i");
@font-face {
	font-family: "cubanoregular";
	src: url("../fonts/cubano-regular-webfont.woff2") format("woff2"), url("../fonts/cubano-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal
}

* {
	box-sizing: border-box
}

html,
body {
	margin: 0;
	padding: 0
}

:root {
	font-size: 10px
}

@media (max-width: 1200px) {
	:root {
		font-size: 9px
	}
}

@media (max-width: 1024px) {
	:root {
		font-size: 8px
	}
}

@media (max-width: 920px) {
	:root {
		font-size: 9px
	}
}

@media (max-width: 700px) {
	:root {
		font-size: 8px
	}
}

@media (max-width: 620px) {
	:root {
		font-size: 10px
	}
}

.wrapper,
.navigation nav .links {
	max-width: 115rem;
	margin: 0 auto;
	padding: 0 2rem
}

.sr-only {
	position: absolute;
	height: 1px;
	width: 1px;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	overflow: hidden !important
}

html,
body {
	font-family: "Open Sans", sans-serif;
	letter-spacing: inherit;
	color: #222;
	font-size: 1.6rem
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.cta-button,
.landing-page .welcome-message .learn-to-code .ctas a,
.landing-page .featured-videos .more-videos,
.video .player-and-topics .player .player-controls a,
.video .links-and-books .player .player-controls a,
.video .player-and-topics .topics .code-actions a,
.video .player-and-topics .topics .code-actions .download-button,
.video .links-and-books .topics .code-actions a,
.video .links-and-books .topics .code-actions .download-button,
.hero-item a,
.video-card .buttons a,
.video-list a.watch-all-button {
	font-family: "cubanoregular";
	letter-spacing: .4;
	font-weight: normal
}

h1 {
	font-size: 6rem
}

h2 {
	font-size: 3rem;
	padding-top: 1em;
	text-align: center
}

h3 {
	font-size: 2.5rem
}

.subtitle {
	text-align: center;
	margin: -1.25em 0em 2em;
	font-family: "cubanoregular";
	letter-spacing: .4;
	font-size: 1.8rem
}

button,
.cta-button,
.landing-page .welcome-message .learn-to-code .ctas a,
.landing-page .featured-videos .more-videos,
.video .player-and-topics .player .player-controls a,
.video .links-and-books .player .player-controls a,
.video .player-and-topics .topics .code-actions a,
.video .player-and-topics .topics .code-actions .download-button,
.video .links-and-books .topics .code-actions a,
.video .links-and-books .topics .code-actions .download-button,
.hero-item a,
.video-card .buttons a,
.video-list a.watch-all-button {
	display: inline-block;
	border-radius: 5px;
	background: #FFF;
	padding: 20px;
	border: none;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.06);
	transition: all 150ms cubic-bezier(.4, 0, .2, 1);
	transform: scale(1)
}

button:hover,
.cta-button:hover,
.landing-page .welcome-message .learn-to-code .ctas a:hover,
.landing-page .featured-videos .more-videos:hover,
.video .player-and-topics .player .player-controls a:hover,
.video .links-and-books .player .player-controls a:hover,
.video .player-and-topics .topics .code-actions a:hover,
.video .player-and-topics .topics .code-actions .download-button:hover,
.video .links-and-books .topics .code-actions a:hover,
.video .links-and-books .topics .code-actions .download-button:hover,
.hero-item a:hover,
.video-card .buttons a:hover,
.video-list a.watch-all-button:hover {
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.06);
	transform: scale(.98)
}

a {
	color: #222;
	transition: color 200ms cubic-bezier(.4, 0, .2, 1);
	text-decoration: underline
}

a:hover {
	color: #49BB6C
}

.mobilenav-toggle {
	display: none;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-size: 35px;
	padding: .4em .35em;
	border-radius: 0px 5px 5px 0px;
	background: #2494C1;
	width: 7rem;
	height: 6rem;
	position: fixed;
	left: 0;
	top: 20px;
	z-index: 10000
}

@media (max-width: 550px) {
	.mobilenav-toggle {
		display: flex
	}
}

.mobilenav-toggle span {
	width: 80%;
	height: .15em;
	display: inline-block;
	background: #FFF;
	border-radius: .075em;
	transition: all 375ms cubic-bezier(.4, 0, .2, 1)
}

.navigation {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9000
}

@media (max-width: 550px) {
	.navigation {
		padding-top: 2rem;
		width: auto
	}
}

.navigation nav {
	width: 100%;
	height: 5rem;
	font-size: 16px;
	overflow: hidden;
	background: linear-gradient(rgba(0, 0, 0, 0.2), transparent)
}

@media (max-width: 550px) {
	.navigation nav {
		width: 0%;
		height: auto;
		top: 10rem;
		position: fixed;
		background: none
	}
}

.navigation nav .links {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center
}

@media (max-width: 550px) {
	.navigation nav .links {
		flex-direction: column;
		align-items: flex-start;
		height: auto;
		padding-left: 2rem
	}
}

.navigation nav .links a {
	margin: 0em 1em;
	text-shadow: 0px 0px 5px #BBB;
	color: #FFF;
	font-family: "cubanoregular";
	letter-spacing: .4;
	text-decoration: none
}

@media (max-width: 550px) {
	.navigation nav .links a {
		visibility: hidden;
		margin: .5em 0;
		text-shadow: none;
		background: #2494C1;
		padding: .7em 1em;
		border-radius: 5px;
		opacity: 0;
		transform: translateX(-3rem)
	}
	.navigation nav .links a:nth-child(5) {
		transition-property: all;
		transition-duration: 150ms;
		transition-delay: 0ms;
		transition-timing-function: cubic-bezier(.4, 0, .2, 1)
	}
	.navigation nav .links a:nth-child(4) {
		transition-property: all;
		transition-duration: 150ms;
		transition-delay: 75ms;
		transition-timing-function: cubic-bezier(.4, 0, .2, 1)
	}
	.navigation nav .links a:nth-child(3) {
		transition-property: all;
		transition-duration: 150ms;
		transition-delay: 150ms;
		transition-timing-function: cubic-bezier(.4, 0, .2, 1)
	}
	.navigation nav .links a:nth-child(2) {
		transition-property: all;
		transition-duration: 150ms;
		transition-delay: 225ms;
		transition-timing-function: cubic-bezier(.4, 0, .2, 1)
	}
	.navigation nav .links a:nth-child(1) {
		transition-property: all;
		transition-duration: 150ms;
		transition-delay: 300ms;
		transition-timing-function: cubic-bezier(.4, 0, .2, 1)
	}
}

.mobilenav-backdrop {
	transition: filter 375ms cubic-bezier(.4, 0, .2, 1)
}

#nav-toggle {
	display: none
}

@media (max-width: 550px) {
	#nav-toggle:checked~.navigation {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0
	}
}

@media (max-width: 550px) {
	#nav-toggle:checked~.mobilenav-backdrop {
		filter: blur(10px);
		pointer-events: none
	}
}

#nav-toggle:checked~.mobilenav-toggle span:nth-child(2) {
	transform: translateX(20%)
}

@media (max-width: 550px) {
	#nav-toggle:checked~.navigation {
		background: rgba(255, 255, 255, 0.5)
	}
}

#nav-toggle:checked~.navigation nav {
	width: 100%
}

@media (max-width: 550px) {
	#nav-toggle:checked~.navigation nav .links a {
		visibility: visible;
		opacity: 1;
		transform: translateX(0rem)
	}
}

#nav-toggle:checked~.navigation nav .links a:nth-child(1) {
	transition-delay: 0ms
}

#nav-toggle:checked~.navigation nav .links a:nth-child(2) {
	transition-delay: 75ms
}

#nav-toggle:checked~.navigation nav .links a:nth-child(3) {
	transition-delay: 150ms
}

#nav-toggle:checked~.navigation nav .links a:nth-child(4) {
	transition-delay: 225ms
}

#nav-toggle:checked~.navigation nav .links a:nth-child(5) {
	transition-delay: 300ms
}

header {
	margin-bottom: 5rem
}

header .header-image {
	height: 25rem;
	background-image: url(../images/header.jpg);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer
}

@media (max-width: 620px) {
	header .header-image {
		height: 18rem
	}
}

@media (max-width: 550px) {
	header .header-image {
		background-image: url(../images/header-mobile.jpg);
		background-position: center;
		height: 10rem;
		display: flex;
		align-items: center
	}
}

footer {
	margin-top: 50px
}

footer .links {
	display: flex
}

@media (max-width: 620px) {
	footer .links {
		flex-wrap: wrap
	}
}

footer .links a {
	padding: 40px;
	flex-basis: 100%;
	text-align: center;
	font-family: "cubanoregular";
	letter-spacing: .4;
	text-decoration: none;
	color: #FFF;
	margin: 0
}

footer .links a span {
	display: inline-block;
	font-size: 18px;
	transition: all 150ms cubic-bezier(.4, 0, .2, 1);
	transform: scale(1)
}

footer .links a:hover span {
	transform: scale(1.2)
}

footer .links a.nature-of-code {
	background: #F35956
}

footer .links a.learning-processing {
	background: #F1C500;
	color: #222
}

footer .links a.shiffman-net {
	background: #2494C1
}

.landing-page {
	padding-bottom: 5rem
}

.landing-page .welcome-message,
.landing-page .support {
	display: flex;
	justify-content: space-around
}

@media (max-width: 620px) {
	.landing-page .welcome-message,
	.landing-page .support {
		flex-wrap: wrap
	}
}

.landing-page .welcome-message {
	align-items: center
}

.landing-page .welcome-message .learn-to-code {
	width: 40%
}

@media (max-width: 620px) {
	.landing-page .welcome-message .learn-to-code {
		width: 100%;
		text-align: center
	}
}

.landing-page .welcome-message .learn-to-code h1 {
	color: #2f2f2f;
	margin: 0
}

@media (max-width: 920px) {
	.landing-page .welcome-message .learn-to-code h1 {
		margin-bottom: .5em
	}
}

@media (max-width: 620px) {
	.landing-page .welcome-message .learn-to-code h1 {
		font-size: 4rem
	}
}

.landing-page .welcome-message .learn-to-code p {
	margin: 1em 0em;
	font-size: 1.1em
}

.landing-page .welcome-message .learn-to-code .ctas {
	margin-top: 2em
}

@media (max-width: 920px) {
	.landing-page .welcome-message .learn-to-code .ctas {
		text-align: center
	}
}

.landing-page .welcome-message .learn-to-code .ctas a {
	color: #FFF;
	margin-right: 1em;
	margin-bottom: 1em
}

@media (max-width: 920px) {
	.landing-page .welcome-message .learn-to-code .ctas a {
		width: 80%;
		max-width: 35rem;
		margin: .5em
	}
}

@media (max-width: 550px) {
	.landing-page .welcome-message .learn-to-code .ctas a {
		width: 100%;
		margin: .5em 0
	}
}

.landing-page .featured-videos {
	text-align: center
}

@media (max-width: 920px) and (min-width: 620px) {
	.landing-page .featured-videos .video-card:nth-child(2) {
		display: none
	}
}

.landing-page .featured-videos .more-videos {
	background: #49BB6C;
	color: #FFF
}

.landing-page h2 {
	margin-top: 8rem;
	text-align: center
}

.landing-page .learn-to-code a.youtube {
	background: #F35956 !important
}

.landing-page .learn-to-code a.patreon,
.landing-page div.patreon a {
	background: #2494C1 !important
}

.landing-page .merch-store a {
	background: #d9437f
}

.landing-page .amazon-store a {
	background: #f5720f
}

.series-index .description,
.series-index .description-excerpt {
	text-align: center
}

.series-index .description {
	border: 1px solid #a2a2a2;
	border-left: none;
	border-right: none;
	margin-bottom: 5rem
}

.series-index .series {
	margin-top: 10rem
}

.series-index .series h3 {
	text-align: center
}

.series-index .series .subtitle {
	font-size: 1.6rem
}

.video h3 {
	font-size: 2rem
}

.video .player-and-topics,
.video .links-and-books {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

@media (max-width: 920px) {
	.video .player-and-topics,
	.video .links-and-books {
		flex-direction: column
	}
}

.video .player-and-topics>div,
.video .links-and-books>div {
	flex-basis: calc(50% - 2em);
	margin: 2em 0
}

@media (max-width: 920px) {
	.video .player-and-topics>div,
	.video .links-and-books>div {
		flex-basis: auto;
		margin: 1em 0;
		width: 100%
	}
}

.video .player-and-topics .player,
.video .links-and-books .player {
	text-align: center
}

.video .player-and-topics .player .video-player,
.video .links-and-books .player .video-player {
	width: 55rem;
	height: 30.9375rem
}

@media (max-width: 620px) {
	.video .player-and-topics .player .video-player,
	.video .links-and-books .player .video-player {
		width: 100%;
		height: calc(100vw * 9 / 16 - 2rem)
	}
}

.video .player-and-topics .player .player-controls,
.video .links-and-books .player .player-controls {
	display: flex;
	width: 55rem;
	margin: 1em auto
}

@media (max-width: 620px) {
	.video .player-and-topics .player .player-controls,
	.video .links-and-books .player .player-controls {
		width: 100%
	}
}

.video .player-and-topics .player .player-controls a,
.video .links-and-books .player .player-controls a {
	background: #9659A7;
	color: #FFF
}

.video .player-and-topics .player .player-controls a.watch-all-videos,
.video .links-and-books .player .player-controls a.watch-all-videos {
	flex-grow: 2;
	margin: auto .5em
}

.video .player-and-topics .player .player-controls a.disabled,
.video .links-and-books .player .player-controls a.disabled {
	background: #b68bc2;
	cursor: not-allowed;
	pointer-events: none
}

.video .player-and-topics .topics h3,
.video .links-and-books .topics h3 {
	margin-top: 2em
}

.video .player-and-topics .topics ul,
.video .links-and-books .topics ul {
	padding-left: 1.5em
}

.video .player-and-topics .topics .code-actions,
.video .links-and-books .topics .code-actions {
	display: flex;
	justify-content: space-between;
	margin-top: 2em
}

.video .player-and-topics .topics .code-actions a,
.video .player-and-topics .topics .code-actions .download-button,
.video .links-and-books .topics .code-actions a,
.video .links-and-books .topics .code-actions .download-button {
	flex: 1;
	background: #9659A7;
	color: #FFF;
	margin-right: .5em
}

.video .player-and-topics .topics .code-actions a.disabled,
.video .player-and-topics .topics .code-actions .download-button.disabled,
.video .links-and-books .topics .code-actions a.disabled,
.video .links-and-books .topics .code-actions .download-button.disabled {
	background: #b68bc2;
	cursor: not-allowed;
	pointer-events: none
}

.video .player-and-topics .topics .code-actions .download-button,
.video .links-and-books .topics .code-actions .download-button {
	position: relative;
	z-index: 1000
}

.video .player-and-topics .topics .code-actions .download-button ul,
.video .links-and-books .topics .code-actions .download-button ul {
	position: absolute;
	margin: 20px 0 0 -20px;
	padding: 0;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	transition: all 100ms
}

.video .player-and-topics .topics .code-actions .download-button ul li,
.video .links-and-books .topics .code-actions .download-button ul li {
	border-top: 1px solid #c09cca
}

.video .player-and-topics .topics .code-actions .download-button ul li a,
.video .links-and-books .topics .code-actions .download-button ul li a {
	display: inline-block;
	padding: 15px 20px;
	width: 100%;
	text-decoration: none;
	color: #FFF;
	background: #ab7ab9;
	transition: all 100ms
}

.video .player-and-topics .topics .code-actions .download-button ul li a:hover,
.video .links-and-books .topics .code-actions .download-button ul li a:hover {
	background: #b68bc2
}

.video .player-and-topics .topics .code-actions .download-button:hover,
.video .player-and-topics .topics .code-actions .download-button:focus,
.video .links-and-books .topics .code-actions .download-button:hover,
.video .links-and-books .topics .code-actions .download-button:focus {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0
}

.video .player-and-topics .topics .code-actions .download-button:hover ul,
.video .player-and-topics .topics .code-actions .download-button:focus ul,
.video .links-and-books .topics .code-actions .download-button:hover ul,
.video .links-and-books .topics .code-actions .download-button:focus ul {
	visibility: visible;
	opacity: 1
}

.video .player-and-topics {
	align-items: center
}

.hero-item {
	width: 35rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center
}

.hero-item>* {
	margin: 2rem
}

.hero-item .hero-image {
	width: 20rem;
	height: 20rem;
	overflow: hidden
}

.hero-item .hero-image>* {
	width: 100%
}

.hero-item .hero-text>span {
	display: block;
	margin: 1rem
}

.hero-item .hero-text .hero-title {
	font-weight: bold;
	font-size: 1.1em
}

.hero-item a {
	color: #FFF;
	background: #9659A7;
	width: 80%
}

.link-list a.video-control-link {
	color: #2494C1;
	text-decoration: none;
	transition: color 200ms cubic-bezier(.4, 0, .2, 1)
}

.link-list a.video-control-link:hover {
	color: #68c0e3
}

.link-list ul {
	list-style: none;
	padding: 0em 0em 0em 1.5em
}

.link-list ul li {
	margin: .3em 0
}

.link-list ul li:before {
	display: inline-block;
	content: "▸";
	margin-left: -1em;
	margin-right: .5em
}

.video-card {
	width: 35rem;
	box-shadow: 0 10px 20px #eee, 0 6px 6px #d5d5d5;
	padding-bottom: 1em;
	border-radius: 5px;
	overflow: hidden;
	margin: 3rem 0rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 250ms
}

@media (hover: hover) {
	.video-card:hover {
		transform: translateY(-5px)
	}
}

.video-card>a {
	text-decoration: none;
	color: #222
}

.video-card .video-header .thumb-container {
	width: 100%;
	height: auto;
	position: relative
}

.video-card .video-header .thumb-container .video-badge {
	position: absolute;
	right: 0;
	bottom: 0;
	background: #49BB6C;
	color: #FFF;
	font-family: "cubanoregular";
	letter-spacing: .4;
	font-size: 2rem;
	padding: .5em .5em .5em .6em;
	border-radius: 5px 0em 0em
}

.video-card .video-header .video-thumbnail {
	width: 35rem;
	height: 19.6875rem;
	background-size: cover;
	background-position: center
}

.video-card .video-header h3 {
	font-size: 2rem;
	padding: 1.25em .5em .4em 1em;
	margin: 0;
	text-align: left
}

.video-card .video-header .video-date {
	color: #888;
	font-size: 1.5rem;
	padding: 0em 1.25em
}

.video-card .video-description {
	padding: 0 1.25em 1.5em 1.25em;
	flex: 1
}

.video-card .video-description ul {
	padding-left: 1.5em
}

.video-card .buttons {
	display: flex;
	justify-content: space-between;
	padding: 0em 2rem 1rem
}

@media (max-width: 550px) {
	.video-card .buttons {
		flex-wrap: wrap
	}
}

.video-card .buttons a {
	font-size: 1.5rem;
	background: #9659A7;
	color: #FFF;
	flex-grow: 2;
	margin-left: .25em;
	margin-right: .25em;
	padding: 15px
}

@media (max-width: 550px) {
	.video-card .buttons a {
		margin: 0
	}
}

.video-card .buttons a:first-child {
	margin-left: 0
}

.video-card .buttons a:last-child {
	margin-right: 0
}

@media (max-width: 550px) {
	.video-card .buttons a {
		flex-basis: 100%;
		margin-top: .5em
	}
}

.video-list {
	text-align: center
}

.video-list .videos {
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around
}

.video-list .videos .video-card {
	margin-top: 2rem
}

.video-list a.watch-all-button {
	color: #FFF;
	background: #49BB6C;
	margin: 2rem auto 0
}