---
layout: default

---
<script src="/assets/js/javascript_pagina.js"></script>

<div class="container ">

        <div id= "set-stick" class="">
        <div class="header">
          <div class="row">
                

        {{content}}
    
          
        </div>
    
      </div>
</div>

<!-- 
<div class="container">
        <div class="row">

            {% if include.todas%}

            {% for author in include.sec %}
            <div class="col-sm-4">
                <div class="card">
                        {% if author.image-intro.ligado == true %}
                        <img class="card-img-top img-fluid" src="{{author.image-intro.url}}" alt="Card image cap">
                        {% else %}
    
                        <img class="card-img-top img-fluid" src="//placehold.it/350x350" alt="Card image cap" class="img-fluid">
    
                        {% endif %}
                    <div class="card-block">
                        <h4 class="card-title"> <a href="{{ author.url }}">{{ author.title }}</a></h4>
                        <p class="card-text">{{author.image-intro.text}}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div> -->