<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Início</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/css_maneiro.css">
    <script src="/assets/js/javascript_pagina.js" ></script>

</head>
<body>
    <header>
        <nav style='background: #f7c948' class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" style='color: #222' href="#">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
              aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" style='color: #222' href="#">
                    Comunidade
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style='color: #222' href="#">
                        Blog
                    </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style='color: #222' id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                     Tags </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" style='color: #222' href="#">HTML/CSS</a>
                    <a class="dropdown-item" style='color: #222' href="#">Javascript</a>
                    <a class="dropdown-item" style='color: #222' href="#">Git</a>
                    <a class="dropdown-item" style='color: #222' href="#">Python</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>

        <div id="header-content" >
            <div class="header-bg">
                <div class="title container">
                    <h1>Professor Marcolan</h1>
                    <p class='col-md-4 mb-4'>Teste</p>
                </div>
            </div>
        </div>
    </header>

    <!--Main layout-->
    <main class="mt-1 pt-1">
        <div class="container">

            <!--Section: Post-->
            <section class="mt-4">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-8 mb-4">

                        <!--Card-->
                        <section class="my-5">

                            <!-- Section heading -->
                            <h2 class="h1-responsive font-weight-bold text-center my-5">Recent posts</h2>
                            <!-- Section description -->
                            <p class="text-center dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
                              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          
                            <!-- Grid row -->
                            <div class="row">
                          
                              <!-- Grid column -->
                              <div class="col-lg-5 col-xl-4">
                          
                                <!-- Featured image -->
                                <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" alt="Sample image">
                                  <a>
                                    <div class="mask rgba-white-slight"></div>
                                  </a>
                                </div>
                          
                              </div>
                              <!-- Grid column -->
                          
                              <!-- Grid column -->
                              <div class="col-lg-7 col-xl-8">
                                <!-- Post title -->
                                <h3 class="font-weight-bold mb-3"><strong>Title of the news</strong></h3>
                                <!-- Excerpt -->
                                <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                                  quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus
                                  et aut officiis debitis cum soluta nobis est eligendi placeat facere aut rerum.</p>
                                <!-- Post data -->
                                <p>by <a class="font-weight-bold">Jessica Clark</a>, 19/04/2018</p>
                                <!-- Read more button -->
                                <a class="btn btn-primary btn-md">Read more</a>
                          
                              </div>
                              <!-- Grid column -->
                          
                            </div>
                            <!-- Grid row -->
                          
                            <hr class="my-5">
                          
                            <!-- Grid row -->
                            <div class="row">
                          
                              <!-- Grid column -->
                              <div class="col-lg-5 col-xl-4">
                          
                                <!-- Featured image -->
                                <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/31.jpg" alt="Sample image">
                                  <a>
                                    <div class="mask rgba-white-slight"></div>
                                  </a>
                                </div>
                          
                              </div>
                              <!-- Grid column -->
                          
                              <!-- Grid column -->
                              <div class="col-lg-7 col-xl-8">
                          
                                <!-- Post title -->
                                <h3 class="font-weight-bold mb-3"><strong>Title of the news</strong></h3>
                                <!-- Excerpt -->
                                <p class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                  praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                                  cupiditate non provident et accusamus iusto odio dignissimos et dolorum fuga.</p>
                                <!-- Post data -->
                                <p>by <a class="font-weight-bold">Jessica Clark</a>, 16/04/2018</p>
                                <!-- Read more button -->
                                <a class="btn btn-primary btn-md">Read more</a>
                          
                              </div>
                              <!-- Grid column -->
                          
                            </div>
                            <!-- Grid row -->
                          
                          </section>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-4">

                        
                        <!--Card-->
                        <div class="card mb-4 wow fadeIn">

                            <div class="card-header">Related articles</div>

                            <!--Card content-->
                            <div class="card-body">

                                <ul class="list-unstyled">
                                    <li class="media">
                                        <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <a href="">
                                                <h5 class="mt-0 mb-1 font-weight-bold">List-based media object</h5>
                                            </a>
                                            Cras sit amet nibh libero, in gravida nulla (...)
                                        </div>
                                    </li>
                                    <li class="media my-4">
                                        <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder6.jpg" alt="An image">
                                        <div class="media-body">
                                            <a href="">
                                                <h5 class="mt-0 mb-1 font-weight-bold">List-based media object</h5>
                                            </a>
                                            Cras sit amet nibh libero, in gravida nulla (...)
                                        </div>
                                    </li>
                                    <li class="media">
                                        <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder5.jpg" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <a href="">
                                                <h5 class="mt-0 mb-1 font-weight-bold">List-based media object</h5>
                                            </a>
                                            Cras sit amet nibh libero, in gravida nulla (...)
                                        </div>
                                    </li>
                                </ul>

                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Post-->

        </div>
    </main>
    <!--Main layout-->
    

    <footer>
        <h2 class="footer_title">Social</h2>
        <nav class="footer_nav">
            <ul>
                <li><a href="https://github.com/jmarcolan" target="_blank"><i class="footer_logo fab fa-github" src="assets/img/logos/github-logo.png" alt="github-logo"></i></a></li>
                <li><a href="https://discord.gg/cd6j7f" target="_blank"><i class="footer_logo fab fa-discord" src="assets/img/logos/discord-logo.png" alt="discord-logo"></i></a></li>
                <li><a href="https://www.facebook.com/jmarcolan" target="_blank"><i class="footer_logo fab fa-facebook-square" src="assets/img/logos/facebook-logo.png" alt="facebook-logo"></i></a></li>
            </ul>
        </nav>
    
        <p class="footer_email">Contato: zn_john@hotmail.com</p>
    
        <p class="footer_copy">&copy; 2019 - <span class="footer_copy--italic">Criado pela Comunidade Marcolan</span></p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    

</body>

</html>