<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Início</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/css_maneiro.css">
    <script src="/assets/js/javascript_pagina.js" ></script>

</head>
<body>
    <header>
        <nav id="navbar" class="nav">
            <input type="checkbox" id="nav-check" />
			<div class="nav-header">
				<div class="nav-title">
					<a href="/">Prof Marcolan</a>
			    </div>
			</div>
			<div class="nav-btn">
				<label for="nav-check">
					<span ></span>
					<span ></span>
                    <span ></span>
				</label>
            </div>
            <div class='nav-links'>
                <a href="/">Home</a>
                <a href="#">HTML/CSS</a>
                <a href="/tag/JavaScript">JavaScript</a>
                <a href="/tag/git">Git</a>
                <a href="/tag/python">Python</a>
            </div>
        </nav>

        <div id="header-content" >
            <div class="header-bg">
                <div class="title">
                    <h1>Professor Marcolan</h1>
                </div>
            </div>
        </div>
    </header>

    <div id="content">
    <section>
        <header>
            <h1>{{ page.title }}</h1>
        </header>
        <article>
            {{ content }}
        </article>
        <span>Autor</span>
    </section>
    </div>
    

    <footer>
        <h2 class="footer_title">Social</h2>
        <nav class="footer_nav">
            <ul>
                <li><a href="https://github.com/jmarcolan" target="_blank"><i class="footer_logo fab fa-github" src="assets/img/logos/github-logo.png" alt="github-logo"></i></a></li>
                <li><a href="https://discord.gg/cd6j7f" target="_blank"><i class="footer_logo fab fa-discord" src="assets/img/logos/discord-logo.png" alt="discord-logo"></i></a></li>
                <li><a href="https://www.facebook.com/jmarcolan" target="_blank"><i class="footer_logo fab fa-facebook-square" src="assets/img/logos/facebook-logo.png" alt="facebook-logo"></i></a></li>
            </ul>
        </nav>
    
        <p class="footer_email">Contato: zn_john@hotmail.com</p>
    
        <p class="footer_copy">&copy; 2019 - <span class="footer_copy--italic">Criado pela Comunidade Marcolan</span></p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    

</body>

</html>