---
layout: default

---
<script src="/logica/logica1.js"></script>
<section class="section contribuir active">

    <!-- 
      <h1 class="section__title">{{page.title}}</h1> 
    -->
  
    <div class="section__container">
      <article class="post">
        <!-- Aqui o título principal - deve estar dentro do article (semântica, acessibilidade) -->
        <h1 class="post-title">{{page.title}}</h1>
  
        <header class="post-header">
          <!-- Lista de Tópicos -->
          <p>
              <ul id="todos-titulos" onload="pegar_titulos()"></ul>
            </p>
  
          <!-- Vídeo -->
         
          <div class="video-container">
                {% if page.video.ligado == true %}
                <iframe width="560" height="315" src="{{page.video.url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                {% elsif page.image-intro.ligado == true %}

               
                <img src="{{page.image-intro.url}}" class="img-fluid" alt="">
                
                  {% endif %}
          </div>

          
        </header>

        <div class="post-content">

            <div class="post-content-content">
                  {{content}}
            </div>

            <div class="post-content-navegador">
                <ul>
                    <li>Tópico 1</li>
                    <li>Tópico 2</li>
                    <li>Tópico 3</li>
                    <li>Tópico 4</li>
            </ul>
            </div>
    
        </div>

 
        
        
      </article>
    </div>


    
   
  


</section>

  






<script src="/assets/prism.js"></script>





